<div class="panel panel-default" >
    <div class="panel-heading">
        <p class="panel-title">Employee Detail Information</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">First Name: {{customer.firstName}} </label>
                <label class="form-control">LastName:{{customer.lastName}}</label>
                <label class="form-control">Customer Code: {{customer.code}}</label>
                <label class="form-control">Mobile No: {{customer.mobileNumber}}</label>
                <label class="form-control">Email ID: {{customer.emailId}}</label> <a href="#/customers" class="btn btn-info">Back</a> </div>
        </form>
    </div>
</div>